
<!DOCTYPE html>
<html>
<head>
<title>Resume</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
<body>

    <p style="color: rgb(16, 112, 197); font-size: xx-large;"><strong>Longhan Zhang</strong></p>
    <p><span style="font-weight: 400;">longhanzhang999@gmail.com | 0449519669 | Kurralta Park SA 5070 |</span><a href="https://github.com/hansenAdds?tab=repositories"> <span style="font-weight: 400;">Github |</span></a><a href="https://www.linkedin.com/in/longy-zhang-329787165/"><span style="font-weight: 400;"> Linkedin</span></a></p>
    <p style="color: rgb(16, 112, 197); font-size: x-large;"><strong>Professional Summary</strong></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Strong foundation in mathematics and programming logic, complimented by sound technical knowledge using a range of programming and data analytics tools.</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Experienced data technician, impeccable work ethic, and robust learning skills in the Web development, Data Analysis, and GIS areas. Currently want to reshape my career into Web development and Data analysis</span></li>
    </ul>
    <p style="color: rgb(16, 112, 197); font-size: x-large;"><strong>Professional Experience</strong></p>
    <p><strong>We Do It, </strong><span style="font-weight: 400;">SA&mdash; Graduate GIS Developer</span><em><span style="font-weight: 400;"> (Full-time) </span></em><span style="font-weight: 400;">July 2021- Present&nbsp;</span></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Develops and maintains Smallworld for clients</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Develops, maintains, unit tests and deploys Asset Exporter tool and Sincal Project on Smallworld by using Magik language, Batch Script</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Introduce the Git version control to replace the VSS for the client's Smallworld GIS team</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Participate in the monthly Smallworld deployment and OS patching for the client's GIS system</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Developed the automation ticket transferring system between the Outlook and vFire by using Power automate</span></li>
    </ul>
    <p><strong>Airbornelogic Pty Ltd, </strong><span style="font-weight: 400;">SA&mdash; </span><em><span style="font-weight: 400;">Spatial data technician (Part-time) </span></em><span style="font-weight: 400;">Nov 2020 - Apr 2021</span></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Use QGIS and ArcGIS software to label spatial datasets for analyzing expected vegetation yield (vineyard, fruit trees, and crops).&nbsp;</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Use QGIS and ArcGIS software to create RGB maps for the viticultural and horticultural sites, successfully increasing company revenue.&nbsp;</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Apply machine learning (unsupervised and supervised) to classify spatial image data.&nbsp;</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Use Python to develop software automation, it saves data processing time from cloud to local.&nbsp;</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Continuously develop and maintain automation software through Git.&nbsp;</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Use Python to reorder and label data automatically.&nbsp;</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Use Pix4D to process point cloud data and combine all the images.&nbsp;</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Received Onsite safety training and Participated in drone data collection at a range of horticultural and viticultural sites around SA.&nbsp;</span></li>
    </ul>
    <p style="color: rgb(16, 112, 197); font-size: x-large;"><strong>Core Competencies</strong></p>
    <p><span style="font-weight: 400;">Relevant knowledge, Skills and Training</span></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Experience in C++, Python, Javascript &amp;HTML&amp;CSS, Magik, Batch, Mysql and MSSQL, .Net MVC</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Data analysis (SQL, Access, Excel)</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">GIS Software (ArcGIS, Smallworld and QGIS)</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Experience in Data visualization (Python Matplot, Seaborn, Geopanda)</span></li>
    </ul>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Database management(MSSQL)</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Documenting skills (Design, Releasing and testing documentation)</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Source control (GIT, subversion and Azure DevOps repo)</span></li>
    </ul>
    <p style="color: rgb(16, 112, 197); font-size: x-large;"><strong>Education</strong></p>
    <p><strong><em>Bachelor of Computer Science, minor in Artificial Intelligence </em></strong><span style="font-weight: 400;">Feb 2017 &ndash; Nov 2020</span></p>
    <p><strong>The University of Adelaide</strong></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Results: final year Average Distinction</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">International student scholarship at the University of Adelaide college\</span></li>
    </ul>
    <p><strong><em>Udemy </em></strong><span style="font-weight: 400;">&nbsp;May 2022&ndash; Present</span></p>
    <p>Learn to build an e-commerce store with .Net, React &amp; Redux</p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;"><strong>Awards</strong></span></p>
    <p><span style="font-weight: 400;"><strong>Certificate of Recognition from We do It (11/02/2022)</strong></span></p>
    <p>&nbsp;</p>
    <p style="color: rgb(16, 112, 197); font-size: x-large;"><strong>Projects</strong></p>
    <p><strong>Developing Pospac Automation System-Jan 2021</strong></p>
    <p><span style="font-weight: 400;">&mdash;Use Python to implement Pospac software automation for AirborneLogic Navigation data correction, it conquers complex data processing and automated data management from the local machine and cloud server, The automation system saves data processing time from 30mins to 3 mins.&nbsp;</span></p>
    <p><strong>Using Machine learning to find appropriate Tree planting location On QGIS-Nov 2020&nbsp;</strong></p>
    <p><span style="font-weight: 400;">&mdash;Use a Drone to collect the high definition image data, then Use Random Forest and K means to classify different objects on QGIS. The usage of machine learning can achieve a 95 per cent accurate rate to classify Tree Canopy, concrete, soil, sidewalk, and road.&nbsp;</span></p>
    <p><strong>Analyzing the Barossa Valley and Napa Valley through GIS-July 2020</strong></p>
    <p><span style="font-weight: 400;">&mdash;Analyzing the benefit of Valley terrain for viticulture and both wine region climate features through ArcGIS Map, also visualized Soil map and drainage map between Napa Valley and Barossa Valley through Arcgis Map.&nbsp;</span></p>
    <p>&nbsp;</p>
    

</body>
</html>
